.card-content-container {
    display: flexbox;
    justify-items: start;
    justify-content: start;
    border: 1px solid black;
}

#todo-title {
    display: flex;
    justify-content: center;
}

#doing {
    margin-left: 2em;
}

.checkbox {
    margin-left: 5px;
}


.done {
    background-color: rgba(0, 128, 0, 0.842);
}

.doing {
    background-color: yellow;
}

.undone {
    background-color: rgba(255, 0, 0, 0.685);
}

.date {
    margin-right: 3em;
}

.displayBtn {
    margin: .2em .3em;
}

.modals{
    margin: 0 0 0 1em;
    display: inline-block;
}