<mat-card>
<div [ngClass]="{'list-group-item':true, done: todo.isDone, doing: todo.isDoing}" class="card-content-container"> 
    <div id="todo-title">
        <h3>{{ todo.title }}</h3>
    </div>
    <div>
        <span><mark>Date of Creation: </mark></span>
        <label>{{ todo.date | date : "MM.dd.y" }}</label>
    </div>
    <div>
        <span><mark>Due Date: </mark></span>
        <label>{{ todo.dueDate }}</label>
    </div>
    
    <span>
        <label>Done?</label>
        <input type="checkbox" class="checkbox" [(ngModel)]=todo.isDone (change)="doubleStatusCheck()">
    </span>
    <span>
        <label id="doing">Doing?</label>
        <input type="checkbox" class="checkbox" [(ngModel)]=todo.isDoing (change)="doubleStatusCheck()">
    </span>

    <!--Update-Modal / Delete-Modal-->
    <div>
        <update-modal [todo]="todo" class="modals"></update-modal>
        <delete-modal [todo]="todo" class="modals"></delete-modal>
    </div>
</div>
</mat-card>
