<div class="top-input-nav">
  <div class="input-container">
    <input
      type="text"
      class="todo-input"
      placeholder="Add next todo here"
      [(ngModel)]="todoTitle"
      (keyup.enter)="addTodo()"
    />
    <span class="dropright">Press Enter</span>
  </div>
</div>

<div class="row lane-container">
  <div class="col-sm border border-primary">
      <h2>New Todo Items</h2>
    <ul>
      <li *ngFor="let todo of newTodoList">
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
    </ul>
  </div>
  <div class="col-sm border border-warning">
      <h2>Doing</h2>
    <ul>
      <li *ngFor="let todo of doingTodoList">
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
    </ul>
  </div>
  <div class="col-sm border border-success">
      <h2>Done!</h2>
    <ul>
      <li *ngFor="let todo of doneTodoList">
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
    </ul>
  </div>
</div>
