.isDoneCheck {
    margin-left: 5px;
}

ul {
    list-style: none;
}


.done {
    background-color: rgba(0, 128, 0, 0.842);
}

.undone {
    background-color: rgba(255, 0, 0, 0.685);
}


.top-input-nav {
    width: 100%;
    height: auto;
    border: 2px solid blue;
}

.input-container {
    width: 100%;
    margin-top: .5em;
}

.todo-input {
    margin: 0 0 .3em 2em;
    width: 40%;
}

.lane-container {
    margin: 0 1em;
    box-sizing: border-box;
}


li {
    margin-right: 3em;
}

#statusDisplayChoice {
    display: flexbox;
    justify-content: center;
}

.displayBtn {
    margin: .2em .3em;
}

.empty-list {
    display: block;
    width: 500px;
    height: 500px;
    text-align: center;
}